
#header {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;

}


/*Animations*/

.fade-in {
    transition: opacity 0.3s ease-in-out;
}
.fade-in-enter {
    opacity: 0;
}
.fade-in-enter-active {
    opacity: 1;
}



/* Neumorphic styles */
.neumorphic {
    background: #e0e0e0 !important;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff !important;
}

.neumorphic-input {
    background: #e0e0e0 !important;
    border-radius: 10px !important;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff !important;
    padding: 0.5rem 1rem !important;
}

.neumorphic-input:focus,
.neumorphic-input:active {
    outline: none !important;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff !important;
    background: #e0e0e0 !important;
}

.neumorphic-button {
    background: #e0e0e0 !important;
    border-radius: 30px !important;
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff !important;
    padding: 0.75rem 1.5rem !important;
    transition: box-shadow 0.2s ease !important;
}

.neumorphic-button:hover {
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff !important;
}

.neumorphic-input:checked {
    background: #e0e0e0 !important;
    border-radius: 10px !important;
    box-shadow: 5px 5px 10px #ffffff, -5px -5px 10px #bebebe !important;
    padding: 0.5rem 1rem !important;
}


